<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.team38.org/assembly/LC2200"
			class = "org.team38.assembly.lC2200.LC2200Package"
			genModel = "model/generated/LC2200.genmodel" />
	</extension>
	<extension
	      id="product"
	      point="org.eclipse.core.runtime.products">
	   <product
	         application="org.eclipse.ui.ide.workbench"
	         name="LC-2200 IDE">
	      <property
	            name="appName"
	            value="LC-2200 IDE">
	      </property>
	   </product>
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="org.team38.assembly.wizards"
          name="LC-2200">
    </category>
    <wizard
          category="org.team38.assembly.wizards"
          class="org.team38.assembly.wizards.LC2200ProjectNewWizard"
          id="org.team38.assembly.wizard.new.lc2200"
          name="LC-2200 Project">
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.team38.assembly.perspectives.Perspective"
          id="org.team38.assembly.lc2200perspective"
          name="LC-2200">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.team38.assembly.lc2200perspective">
    </perspectiveExtension>
 </extension>
</plugin>
